@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); 


*{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box !important; 
	scroll-behavior: smooth !important;
	outline: transparent !important;
} 


html, body{
	width: 100%; 
	height: 100%;

	transition-timing-function: ease-in-out; 
	scroll-behavior: smooth; 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
	text-rendering: optimizeLegibility; 
	text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.4) !important; 
	font-smooth: auto; -webkit-text-stroke: 0px;
	scroll-padding: 0px;
/*	overflow: auto;*/

	background: rgba(0, 0, 0, 1.0);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7	) 0%, rgba(0, 0, 0, 0.7) 100%), url("./bg-img2.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


body {
	overflow-y: auto;
}


/* =========================
	Common css properties
========================== */
* > h1,h2,h3,h4,h5,p,a,small{
	text-decoration: none;
	font-style: normal !important;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}


.flex-row{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.flex-column{
	display: flex;
	flex-direction: column;
/*	align-items: center;*/
	flex-wrap: wrap;
}


/* =============================
	main tag started
============================= */
main.wrapper {
/*	border: 1px solid red;*/
	width: 100%;
/*	padding: 2rem 0 1rem;*/
	margin-top: 0;

	background: rgba(0, 0, 0, 1.0);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7	) 0%, rgba(0, 0, 0, 0.7) 100%), url("./bg-img2.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	overflow-y: auto;
}


/* =============================
	main tag started
============================= */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
/*	color: white;*/
	color: #fff;
	background: #1e90ff;
	text-align: center;
	padding: 10px 2rem;
	justify-content: center;
	z-index: 999;
	opacity: 0.98;
	transition: 0.3s ease;
}


header h1{
	border: none;
/*	border: 1px solid #fff;*/
	font-family: "Roboto", sans-serif; 
/*	color: #333;*/
	letter-spacing: 0.9px; 
	padding: 0;
	font-size: 40px;
	margin: 0 0.5rem;
/*	color: #fff;*/
	transition: 0.4s ease;
}

header h1 a{
/*	color: #000;*/
	font-weight: 500;
	color: white;
/*	transition: 0.3s ease;*/
}

header h1 a:hover{
	text-decoration: underline;
/*	color: blue;*/
}

header img{
/*	border: 1px solid #fff;*/
	width: 60px; 
	height: 60px;
	margin: 0 0.5rem;
	transition: 0.3s ease;
} 


/* ===============================
	fixed header
=============================== */
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 0rem;
	z-index: 999;
/*	background: #1e90ff;*/
	transition: 0.3s ease;
}

header.fixed h1{
/*	font-size: 35px;*/
	transform: scale(0.9);
	color: #fff;
	transition: 0.4s ease;
}

header.fixed h1 a{
/*	font-size: 35px;*/
	color: #fff;
/*	transition: 0.3s ease;*/
}

header.fixed img{
	transform: scale(0.8);
/*	transition: 0.3s ease;*/
}


/* ================================
	Main container starts
================================ */
.wrapper .container {
/*	border: 1px solid #fff;*/
	width: 70%;
	height: auto;
/*	padding: 2rem 20px;*/
	margin: 10rem auto;
	overflow: auto;
} 

.wrapper .container h2 {
	font-family: "Roboto", sans-serif; 
	color: #ddd; 
	letter-spacing: 0.9px; 
	padding: 5px;
	font-weight: 400;
	font-size: 30px;
}


/* ============================
	View Project BUttons
============================ */
.wrapper .container a {
/*	border: 0.5px solid rgba(0, 0, 0, 0.4);*/
	border-radius: 20px;
	font-family: "Raleway", sans-serif; 
	color: #fff; 
	background: #1e90ff;
	font-size: 16px; 
	font-weight: 500;
	letter-spacing: 0.6px;
/*	padding: 12px 10px;*/
	width: 150px;
	padding: 14px 0;
	display: inline-block;
	margin-left: 3.5rem;
	margin-top: 1rem;
	text-decoration: none;
	text-align: center;
	box-shadow: 0.5px 0.5px 2px #333;
	transition: 0.3s ease;
} 

.wrapper .container i {
	color: orangered;
} 

.wrapper .container a:hover {
/*	box-shadow: 1px 1px 5px #222;*/
	background: rgba(255, 255, 255, 0.9);
	font-weight: 300;
	color: #000;
} 

.wrapper .container a:active {
	background: rgba(255, 255, 255, 0.7);
	color: #000;
}


/* ==============================
	Footer CSS starts
============================== */
.wrapper footer {
	width: 100%;
	height: auto;
	padding: 0;
	margin-top: auto;
	text-align: center; 
	font-family: 'Roboto', sans-serif; 
	color: #fff;
	background: rgba(255, 255, 255, 0.8);
/*	background: rgba(, 0, 0, 0.2);*/
	color: #000;

	display: flex;
	flex-direction: column;
}


.wrapper footer a.goto-top{
/*	border: 1px solid black;*/
	background: #1e90ff;
	color: white;
	font-weight: bolder;
	box-shadow: 0px 1px 4px #444;
	display: inline-block;
	padding: 0;
	transition: 0.3s ease;
}


.wrapper footer a.goto-top i{
/*	display: block;*/
}

.wrapper footer a.goto-top:hover{
	background: #003399;
}


.wrapper footer a.goto-top:active {
	background: #000;
}


.wrapper footer p {
/*	border: 1px solid black;*/
	padding: 10px;
	width: auto;
	display: inline-block;
	letter-spacing: 0.4px;
	margin-top: 10px;
}


.wrapper footer h4.socialmedia-links {
	width: auto;
	margin: auto;
	margin-top: 5px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	letter-spacing: 0.8px;
	border-bottom: 2px solid black;
/*	text-decoration: underline;*/
}


/* ==================================
	"Social Media" Icons in footer
	section
================================== */
.wrapper footer .social {
/*	border: 1px solid black;*/
	display: inline-block;
	width: auto;
	margin: auto;
	margin-top: 10px;
	padding: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
	gap: 20px;
}


.wrapper footer .social a {
	border: none;
/*	border: 0.5px solid rgba(0, 0, 0, 0.3);*/
	border-radius: 50px;

/*	padding: 10px;*/
	width: 50px;
	height: 50px;

	display: block;
	text-decoration: none;
	font-size: 24px;

	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	box-shadow: 0px 0px 5px 2px #aaa;

	transition: 0.3s ease;
}


.wrapper footer .social a:hover{
/*	border: 1px solid black;*/
/*	background: rgba(0, 0, 0, 0.5);*/
	background: rgba(255, 255, 255, 0.6);
/*	box-shadow: 0px 0px 6px #000;*/
}
.wrapper footer .social a:active {
	background: #444;
}
.wrapper footer .social a:visited {
	color: royalblue;
}


.wrapper footer .social a:nth-child(1), .wrapper footer .social a:nth-child(2), .wrapper footer .social a:nth-child(6) {
	color: royalblue;
}
.wrapper footer .social a:first-child {
	color: #003399;
}
.wrapper footer .social a:nth-child(3) {
	color: indianred;
}
.wrapper footer .social a:nth-child(4) {
	color: rgba(255, 0, 0, 0.9);
}
.wrapper footer .social a:nth-child(5) {
	color: #009900;
}


.wrapper footer h4.contact {
/*	border: 1px solid black;*/
	width: auto;
	margin: 10px auto;
	font-weight: 300;
	font-family: "Open sans", sans-serif;
	padding: 10px;
	line-height: 1.4;
}

.wrapper footer small {
/*	border: 1px solid black;*/
	display: block;
	font-weight: 200;
	letter-spacing: 0.8px;
	line-height: 1.2;
	background: #222;
	padding: 8px;
	color: rgba(238, 238, 238, 0.9);
} 


/* ================================
	Horizontal line separator
================================ */

hr.separator {
	border: none;
	border: 0.2px solid rgba(255, 255, 255, 0.4);
	width: 100%;
	margin: 3rem 0 4rem;
}


/* ================================
	Primary Media Queries
================================ */

@media only screen and (min-width:0) and (max-width: 786px) {

	header {
		width: 100%;
		height: auto; 
/*		background: #eee;*/
		text-align: center;
		padding: 1rem 0 2.5rem;
		position: relative;
	}

	header h1 {
		border: none;
	/*	border: 1px solid #fff;*/
		font-family: "Roboto", sans-serif; 
/*		color: #333;*/
		font-weight: 400; 
		letter-spacing: 0.9px; 
		padding: 0;
		font-size: 30px;
		margin: 0;
	}
		
	header img {
	/*	border: 1px solid #fff;*/
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);
		width: 80px; 
		height: 80px;
		margin: 0 0.5rem;
	} 

	.container {
		margin-top: 4rem;
		width: 95%;
		text-align: center;
	}

	.container h2 {
/*		border: 1px solid #fff;*/
		padding: 0;
	}
}



/* ====================================
	Secondary Media Queries
==================================== */

@media only screen and (min-width:787px) and (max-width: 837px) {

	header {
	/*	position: sticky;*/
	/*	top: 0;*/
	/*	left: 0;*/
		width: 100%;
		height: auto; 
/*		background: #eee;*/
		text-align: center;
		padding: 1rem 0 1.5rem;
		position: relative;
	}

	header h1 {
		border: none;
/*		border: 1px solid blue;*/
		font-family: "Roboto", sans-serif; 
/*		color: #333;*/
		font-weight: 400; 
		letter-spacing: 0.9px; 
		padding: 8px 0;
		font-size: 40px;
		margin: 0;
	}

	header img {
	/*	border: 1px solid #fff;*/
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translateX(-50%);
		width: 80px; 
		height: 80px;
		margin: 0 0.5rem;
	}

	.fixed{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 10px 0rem;
		z-index: 999;
		transition: 0.3s ease;
	}

	header.fixed h1{
		font-size: 35px;
/*		color: #000;*/
	}

	header.fixed img{
		width: 50px;
		height: 50px;
		display: none;
	}

	.container {
		margin-top: 8rem;
	}

}


@media only screen and (min-width: 541px) and (max-width: 786px) {

	.fixed{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 1.5rem 0rem;
		z-index: 999;
		transition: 0.3s ease;
	}

	header.fixed h1{
		font-size: 30px;
/*		color: #000;*/
		padding: 0;
	}

	header.fixed img{
		width: 50px;
		height: 50px;
/*		margin-top: 0.8rem;*/
		transition: 0.3s ease;
		display: none;
	}

	.container {
		margin-top: 8rem;
	}

	.container a {
		margin-left: 0;
	}

}


/* ====================================
	Small Screen Media Queries
==================================== */

@media only screen and (max-width: 540px){
	
	header {
		width: 100%;
		height: auto;
		text-align: center;
		padding: 0 0 2.5rem;
		position: relative;
	}

	header h1 {
		border: none;
/*		border: 1px solid #000;*/
		font-family: "Roboto", sans-serif;
		font-weight: bold; 
		letter-spacing: 0.9px; 
		padding: 8px 0;
		font-size: 34px;
		margin: 0;
	}

	header img {
	/*	border: 1px solid #fff;*/
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translateX(-50%);
		width: 80px; 
		height: 80px;
		margin: 0 0.5rem;
	}

	.fixed{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 1rem;
		z-index: 999;
		transition: 0.3s ease;
	}

	header.fixed h1{
		font-size: 26px;
		padding: 5px 0;
		line-height: 1.2;
	}

	header.fixed img{
		width: 50px;
		height: 50px;
		margin-top: 0.8rem;
		display: none;
	}

	.wrapper .container {
		margin-top: 8rem;
	}

	.wrapper .container h2{
		font-size: 28px;
		line-height: 1.4;
	}

	.wrapper .container a {
		margin-left: 0;
	}

	.wrapper footer h4.socialmedia-links {
		margin-top: 20px;
	}

	footer small {
		padding: auto 1rem;
		width: 100%; 
		height: 100%; 
		font-weight: 500;
		letter-spacing: 0.6px;
		line-height: 1.4;
	}
}


/* ====================================
	Extra Small Screen Media Queries
==================================== */

@media only screen and (min-width: 200px) and (max-width: 539px) {

	header {
		width: 100%;
		height: auto; 
		text-align: center;
		padding: 0 0 1.5rem;
		position: relative;
	}

	header h1 {
		border: none;
/*		border: 1px solid #000;*/
		font-family: "Roboto", sans-serif; 
		font-weight: bold; 
		letter-spacing: 0.9px; 
		padding: 8px 0;
		font-size: 30px;
		margin: 0;
		padding: 1rem;
	}

	header img {
	/*	border: 1px solid #fff;*/
		position: absolute;
		top: 76%;
		left: 50%;
		transform: translateX(-50%);
		width: 60px; 
		height: 60px;
		margin: 0 0.5rem;
	}

	.wrapper .container {
		margin-top: 6rem;
	}

	.wrapper .container a {
		margin-left: 0;
	}

	.fixed{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0 1rem;
		z-index: 999;
		transition: 0.3s ease;
	}

	header.fixed h1{
		font-size: 26px;
		padding: 5px 0;
		line-height: 1.2;
	}

	header.fixed img{
		width: 50px;
		height: 50px;
		margin-top: 0.8rem;
		display: none;
	}


	/* ==================================
		"Social Media" Icons in footer
		section
	================================== */
	.wrapper footer .social {
/*		border: 1px solid black;*/
		display: inline-block;
		width: auto;
		margin: auto;
		margin-top: 10px;
		padding: 10px 5px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-flow: wrap;
		gap: 10px;
	}


	.wrapper footer .social a {
		border: none;
	/*	border: 0.5px solid rgba(0, 0, 0, 0.3);*/
		border-radius: 50px;

	/*	padding: 10px;*/
		width: 50px;
		height: 50px;

		display: block;
		text-decoration: none;
		font-size: 24px;

		display: flex;
		align-items: center;
		justify-content: center;

		box-sizing: border-box;
		box-shadow: 0px 0px 5px 2px #aaa;

		transition: 0.3s ease;
	}
}